@model BookThru.Models.Book

@{
    ViewData["Title"] = "Details";

    Model.ImageURL = "https://s3.amazonaws.com/wehire/" + Model.ImageURL;

    var expiryDate = Model.Uploaded.AddDays(7);
}

<div id="myCarousel" class="carousel slide" data-ride="carousel">
    <!-- Indicators -->
    <ol class="carousel-indicators">
        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
        <li data-target="#myCarousel" data-slide-to="1"></li>
        <li data-target="#myCarousel" data-slide-to="2"></li>
    </ol>

    <!-- Wrapper for slides -->
    <div class="carousel-inner" style="height:200px;">
        <div class="item active">
            <img src="~/images/slider1.jpg" alt="" class="">
        </div>

        <div class="item">
            <img src="~/images/slider2.jpg" alt="">
        </div>

        <div class="item">
            <img src="~/images/slider3.jpg" alt="">
        </div>
    </div>
</div>

<div class="container">

    <div class="searchBoxDiv">
        <input class="searchBox" type="text" style="width:100%;" placeholder="Search a Book" />
    </div>

    <div class="row">
        <div class="col-md-6">
            <img class="img-responsive" src="@Model.ImageURL" style="width:100%"/>
        </div>
        <div class="col-md-6">
            <h3>@Model.Name - @Model.Editon Edition</h3>
            <p>@Model.Category.Title | @Model.CourseCode.Code</p>
            <p>Uploaded on : @Model.Uploaded</p>
            <p><b>Description:</b></p>
            <p>@Model.Description</p>
            <p>Current Bid : $@Model.MinimumBidPrice</p>
            <p>Buy Now : $@Model.BuyNowPrice</p>
            <p style="color:red">@Model.Message</p>
            <form asp-action="MakeBid">
                <input type="hidden" asp-for="BookId" />
                <p><input type="text" placeholder="Type your bid amount" name="Amount" required /></p>
                <div class="row">
                    <div class="col-md-6">
                        <div style="height:100px;background-color:aqua;margin:10px 10px 10px 0px;border-radius:2px;width:100%;display:table">
                            <input class="btn btn-primary" style="height:100px; width:100%; margin:0px auto;text-align: center;background-color:aqua; vertical-align: middle;display: table-cell; color:white; font-size:30px;" type="submit" value="Bid" />
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div style="height:100px;background-color:aqua;margin:10px 10px 10px 0px;border-radius:2px;width:100%;display:table">
                            <p style="text-align: center;vertical-align: middle;display: table-cell; color:white; font-size:30px;">BUY</p>
                        </div>
                    </div>
                </div>
            </form>
            <p>Bid closes on : @expiryDate</p>
        </div>
    </div>

</div>
