@model BookThru.Models.Book


@using Microsoft.Extensions.Options
@inject IOptions<StripeSettings> Stripe

@{
    ViewData["Title"] = "Details";
    Model.ImageURL = "https://s3.amazonaws.com/wehire/" + Model.ImageURL;
    var expiryDate = Model.Uploaded.AddDays(7);
    var upDate = Model.Uploaded.AddDays(7);

    var expired = false;
    if (@DateTime.Compare(expiryDate, DateTime.Now.Date) < 0)
    {
        expired = true;
    }
}

<script>
    function myFunction() {
        var txt;

        if (@DateTime.Compare(expiryDate, DateTime.Now.Date)< 0) {
            if (@Model.CurrentBidder.Equals(User.Identity.Name)) {
            } else {

                if (confirm("Press a button!")) {
                    window.location.href = '/Books/Index';
                } else {
                    window.location.href = '/Books/Index';
                }
                document.getElementById("demo").innerHTML = txt;
            }
        }
    }
    window.myFunction();
</script>


<br />
<br />
<script>
    // Set the date we're counting down to
var countDownDate = new Date("@expiryDate").getTime();

    // Update the count down every 1 second
    var x = setInterval(function () {

        // Get todays date and time
        var now = new Date().getTime();

        // Find the distance between now and the count down date
        var distance = countDownDate - now;

        // Time calculations for days, hours, minutes and seconds
        var days = Math.floor(distance / (1000 * 60 * 60 * 24));
        var hours = Math.floor((distance % (1000 * 60 * 60 * 24)) / (1000 * 60 * 60));
        var minutes = Math.floor((distance % (1000 * 60 * 60)) / (1000 * 60));
        var seconds = Math.floor((distance % (1000 * 60)) / 1000);

        // Display the result in the element with id="demo"
        document.getElementById("demo").innerHTML = days + "d " + hours + "h "
            + minutes + "m " + seconds + "s ";

        // If the count down is finished, write some text
        if (distance < 0) {
            clearInterval(x);
            document.getElementById("demo").innerHTML = "EXPIRED";
            
        }
    }, 1000);
</script>


@if (!expired)
{
    <meta http-equiv="refresh" content="10" />
}

<div class="container">

    <h3>@Model.Name - @Model.Editon Edition</h3>
    <p>@Model.Category.Title | @Model.CourseCode.Code</p>



    @*<div class="searchBoxDiv">
            <input class="searchBox" type="text" style="width:100%;" placeholder="Search a Book" />
        </div>*@

    <div class="row">
        <div class="col-md-6">
            <img class="img-responsive" src="@Model.ImageURL" style="width:100%" />
        </div>
        <div class="col-md-6">
            <p>Uploaded on : @Model.Uploaded</p>
            <p><b>Description:</b></p>
            <p>@Model.Description</p>


            @if (!expired)
            {

                @if (Model.CurrentBidder.Equals(User.Identity.Name))
                {
                    <p>Current Bid : $@Model.MinimumBidPrice <span style="color:red">By You</span> </p>
                }
                else
                {
                    <p>Current Bid : $@Model.MinimumBidPrice </p>
                }
                <p>Expires In: </p><p id="demo"></p>

                <p>Buy Now : $@Model.BuyNowPrice</p>
                <p style="color:red">@Model.Message</p>

                @if (!Model.CurrentBidder.Equals(User.Identity.Name))
                {
                    <form asp-action="MakeBid">
                        <input type="hidden" asp-for="BookId" />
                        <p><input type="text" placeholder="Type your bid amount" name="Amount" required /></p>
                        <div class="row">
                            <div class="col-md-6">
                                <div style="height:100px;background-color:aqua;margin:10px 10px 10px 0px;border-radius:2px;width:100%;display:table">
                                    <input class="btn btn-primary" style="height:100px; width:100%; margin:0px auto;text-align: center;background-color:aqua; vertical-align: middle;display: table-cell; color:white; font-size:30px;" type="submit" value="Bid" />
                                </div>
                            </div>
                            @*<div class="col-md-6">
                            <div style="height:100px;background-color:aqua;margin:10px 10px 10px 0px;border-radius:2px;width:100%;display:table">
                                <p style="text-align: center;vertical-align: middle;display: table-cell; color:white; font-size:30px;">BUY</p>
                            </div>
                        </div>*@
                        </div>
                    </form>
                }

                <div class="row">
                    <div class="col-md-6">
                        <form action="/Books/charge" method="POST">
                            <article>
                                <label>Total: $@Model.BuyNowPrice</label>
                            </article>
                            <script src="//checkout.stripe.com/v2/checkout.js"
                                    class="stripe-button"
                                    data-key="@Stripe.Value.PublishableKey"
                                    data-locale="auto"
                                    data-description="@Model.Name - @Model.Editon Edition"
                                    data-amount="$@Model.BuyNowPrice">
                            </script>
                        </form>
                    </div>
                </div>
            }
            else
            {
                @if (Model.CurrentBidder.Equals(User.Identity.Name))
                {
                    <h3>You got the book!!!!!</h3>


                    <form action="/Books/charge" method="POST">
                        <article>
                            <label>Total: $@Model.MinimumBidPrice</label>
                        </article>
                        <script src="//checkout.stripe.com/v2/checkout.js"
                                class="stripe-button"
                                data-key="@Stripe.Value.PublishableKey"
                                data-locale="auto"
                                data-description="@Model.Name - @Model.Editon Edition"
                                data-amount="$@Model.MinimumBidPrice">
                        </script>
                    </form>

                    <form action="/Books/Messages" method="GET">
                        <input type="hidden" value="@Model.Id" name="id" />
                        <input type="submit" value="Send owner a Message" />
                    </form>
                }
                else
                {
                    <h3>Book Sold</h3>
                    <p>Subscribe to know if the same book added</p>
                    <input type="text" placeholder="Email" name="Email" />
                    <input type="submit" name="Submit" value="Submit" />
                }
            }
        </div>
    </div>


</div>
