@model IEnumerable<BookThru.Models.Book>

@{
    ViewData["Title"] = "Index";

    foreach (var item in Model)
    {
        item.ImageURL = "https://s3.amazonaws.com/wehire/" + item.ImageURL;
    }
}


<section>
    <div class="block remove-top">
        <div class="container fluid">
            <div class="row">
                <div class="col-lg-12">
                    <div class="main-slider overlape">
                        <div id="full-slider-wrapper">
                            <div id="layerslider" style="width:100%;height:840px; ">
                                <div class="ls-slide" data-ls="transition3d:all; timeshift:-1000; slidedelay: 7000;">
                                    <img src="~/images/book1.jpg" class="ls-bg" alt="Slide background" />
                                    <div class="ls-slide text-color" style="font-family:Mr Dafoe; font-size:36px; letter-spacing:0px; top:240px; left:20px;" data-ls="easingin:easeOutBack; delayin:1000; offsetxin:top; scalexin:1.3; durationin:2000; parallaxlevel:1;">Popular Book</div>
                                    <div class="ls-slide" style="font-family:Rubik; font-size:60px; font-weight:500; color:#202020; letter-spacing:0px; top:295px; left:0;" data-ls="easingin:easeOutBack; delayin:1000; offsetxin:top; scalexin:1.3; durationin:2000; parallaxlevel:1;">Bidding ends in <strong class="text-color" style="font-weight: 600;">2 Days</strong></div>
                                    <div class="ls-slide" style="font-family:Rubik; line-height: 24px; font-size:16px; font-weight:normal; color:#858585; letter-spacing:0px; top:375px; left:0;" data-ls="easingin:easeOutBack; delayin:1000; offsetxin:top; scalexin:1.3; durationin:2000; parallaxlevel:1;">abcd.</div>
                                    <a href="#" title="" class="ls-slide bg-color" style="padding:14px 30px; text-transform: uppercase; color:#ffffff; font-family:Rubik; font-size:14px; font-weight: 500; top:445px; left:0;" data-ls="easingin:easeOutBack; delayin:2000; offsetxin:bottom; rotatexin:90; durationin:2000; parallaxlevel:1.5;">bid now</a>
                                </div>
                                <!-- Slide 2 -->
                                <div class="ls-slide" data-ls="transition3d:all; timeshift:-1000; slidedelay: 7000;">
                                    <img src="~/images/book2.jpg" class="ls-bg" alt="Slide background" />
                                    <div class="ls-slide text-color" style="font-family:Mr Dafoe; font-size:36px; letter-spacing:0px; top:240px; left:570px;" data-ls="easingin:easeOutBack; delayin:1000; offsetxin:top; scalexin:1.3; durationin:2000; parallaxlevel:1;">New Book</div>
                                    <div class="ls-slide" style="font-family:Rubik; font-size:60px; font-weight:500; color:#202020; letter-spacing:0px; top:295px; left:550px;" data-ls="easingin:easeOutBack; delayin:1000; offsetxin:top; scalexin:1.3; durationin:2000; parallaxlevel:1;">Bidding ends in <strong class="text-color" style="font-weight: 600;">2 hours</strong></div>
                                    <div class="ls-slide" style="font-family:Rubik; line-height: 24px; font-size:16px; font-weight:normal; color:#858585; letter-spacing:0px; top:375px; left:550px;" data-ls="easingin:easeOutBack; delayin:1000; offsetxin:top; scalexin:1.3; durationin:2000; parallaxlevel:1;">abcd.</div>
                                    <a href="#" title="" class="ls-slide bg-color" style="padding:14px 30px; text-transform: uppercase; color:#ffffff; font-family:Rubik; font-size:14px; font-weight: 500; top:445px; left:550px;" data-ls="easingin:easeOutBack; delayin:2000; offsetxin:bottom; rotatexin:90; durationin:2000; parallaxlevel:1.5;">bid now</a>
                                </div>
                                <!-- Slide 3 -->
                                <div class="ls-slide" data-ls="transition3d:all; timeshift:-1000; slidedelay: 7000;">
                                    <img src="~/images/book3.jpg" class="ls-bg" alt="Slide background" />
                                    <div class="ls-slide text-color" style="font-family:Mr Dafoe; font-size:36px; letter-spacing:0px; top:240px; left:570px;" data-ls="easingin:easeOutBack; delayin:1000; offsetxin:top; scalexin:1.3; durationin:2000; parallaxlevel:1;">New Book</div>
                                    <div class="ls-slide" style="font-family:Rubik; font-size:60px; font-weight:500; color:#202020; letter-spacing:0px; top:295px; left:550px;" data-ls="easingin:easeOutBack; delayin:1000; offsetxin:top; scalexin:1.3; durationin:2000; parallaxlevel:1;">Bidding ends in <strong class="text-color" style="font-weight: 600;">2 hours</strong></div>
                                    <div class="ls-slide" style="font-family:Rubik; line-height: 24px; font-size:16px; font-weight:normal; color:#858585; letter-spacing:0px; top:375px; left:550px;" data-ls="easingin:easeOutBack; delayin:1000; offsetxin:top; scalexin:1.3; durationin:2000; parallaxlevel:1;">abcd.</div>
                                    <a href="#" title="" class="ls-slide bg-color" style="padding:14px 30px; text-transform: uppercase; color:#ffffff; font-family:Rubik; font-size:14px; font-weight: 500; top:445px; left:550px;" data-ls="easingin:easeOutBack; delayin:2000; offsetxin:bottom; rotatexin:90; durationin:2000; parallaxlevel:1.5;">bid now</a>
                                </div>

                            </div>
                        </div>
                    </div><!-- Main Slider -->
                </div>
            </div>
        </div>
    </div>
</section>
<section>
    <div class="block remove-top">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    @*<div class="filterproductbar">
                        <section id="options" class="filterproductmenu">
                            <div class="option-isotop">
                                <ul id="filter" class="option-set portfolio-nav" data-option-key="filter">
                                    <li><a href="#all" data-option-value="*" class="selected"><span>All Products</span></a></li>
                                    <li><a href="#bestseller" data-option-value=".cat1"><span>Best Sellers</span></a></li>
                                    <li><a href="#newarrival" data-option-value=".cat2"><span>New Arrival</span></a></li>
                                    <li><a href="#popular" data-option-value=".cat4"><span>Popular</span></a></li>
                                </ul>
                            </div>
                        </section>
                        <div class="filterbtn">
                            <span>Filter <i class="la la-angle-down"></i></span>
                        </div>
                    </div>
                    <div class="filter-open">
                        <div class="row">
                            <div class="col-lg-3 col-md-3 col-sm-6">
                                <div class="fmenus">
                                    <h3>Sort By</h3>
                                    <a href="#" title="">Best seller</a>
                                    <a href="#" title="">Popularity</a>
                                    <a href="#" title="">Average rating</a>
                                    <a href="#" title="">New arrival</a>
                                    <a href="#" title="">Price: low to high</a>
                                    <a href="#" title="">Price: high to low</a>
                                </div>
                            </div>
                            <div class="col-lg-3 col-md-3 col-sm-6">
                                <div class="fmenus">
                                    <h3>Price</h3>
                                    <a href="#" title="">$0.00 - $50.00</a>
                                    <a href="#" title="">$50.00 - $100.00</a>
                                    <a href="#" title="">$100.00 - $150.00</a>
                                    <a href="#" title="">$150.00 - $200.00</a>
                                    <a href="#" title="">$200.00 - 250.00</a>
                                    <a href="#" title="">250.00+</a>
                                </div>
                            </div>
                            <div class="col-lg-3 col-md-12 col-sm-12">
                                <div class="fmenus tags">
                                    <h3>Tags</h3>
                                    <a href="#" title="">All products  </a>
                                    <a href="#" title="">History</a>
                                    <a href="#" title="">COMP321</a>
                                    <a href="#" title="">Management</a>
                                </div>
                            </div>
                        </div>
                    </div>*@
                    <div class="grids-sec">
                        <div class="row" id="masonry">
                            @foreach (var item in Model)
                            {
                                <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12 cat2 cat1">
                                    <div class="shop-product">
                                        <div class="product-thumb">
                                            <img src="@item.ImageURL" alt="" style="height:200px;"/>
                                            @*<ul class="quickp">
                                                <li class="qopen"><a href="#" title=""><i class="la la-exchange"></i></a></li>
                                                <li><a href="#" title="">BID</a></li>
                                                <li><a href="#" title=""><i class="la la-heart"></i></a></li>
                                            </ul>*@
                                        </div>
                                        <div class="product-infos">
                                            <div class="prd-infos">
                                                <h3><a asp-action="Details" asp-route-id="@item.BookId" title="">@item.Name</a></h3>
                                                <span>$@item.MinimumBidPrice</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            }
                            </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

@*<div id="myCarousel" class="carousel slide" data-ride="carousel">
    <!-- Indicators -->
    <ol class="carousel-indicators">
        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
        <li data-target="#myCarousel" data-slide-to="1"></li>
        <li data-target="#myCarousel" data-slide-to="2"></li>
    </ol>

    <!-- Wrapper for slides -->
    <div class="carousel-inner">
        <div class="item active">
            <img src="~/images/slider1.jpg" alt="" class="">
        </div>

        <div class="item">
            <img src="~/images/slider2.jpg" alt="">
        </div>

        <div class="item">
            <img src="~/images/slider3.jpg" alt="">
        </div>
    </div>
</div>

<div class="container">

    <div class="searchBoxDiv">
        <input class="searchBox" type="text" style="width:100%;" placeholder="Search a Book" />
    </div>

    <div class="row">
        <div class="row justify-content-center">
            @foreach (var item in Model)
            {
                <div class="col-md-4" style="padding:10px;">
                    <div class="bookItem">
                        <div class="imageOuter">
                            <img src="@item.ImageURL" class="imageInner" />
                        </div>
                        <div class="detailsOuter">
                            <p><a asp-action="Details" asp-route-id="@item.BookId">@item.Name</a></p>
                            <br />*@
                            @*<div class="row">
                                    <div class="col-lg-6">
                                        <a href="#" class="btn btn-primary btn-home" style="width:100%;color:white;">Bid Now $@item.MinimumBidPrice </a>
                                    </div>
                                    <div class="col-lg-6">
                                        <a href="#" class="btn btn-primary btn-home" style="width:100%;color:white">Buy Now $@item.BuyNowPrice</a>
                                    </div>
                                </div>*@
                            @*<div class="row">
                                    <p class="col-md-6"> </p>
                                    <span class="col-md-2" style="text-align:right">$@item.MinimumBidPrice</span>
                                    <a class="col-md-4" href="#" style="text-align:right">BID</a>
                                </div>
                                <div class="row">
                                    <p class="col-md-6">Buy Now</p>
                                    <span class="col-md-2" style="text-align:right">$@item.BuyNowPrice</span>
                                    <a class="col-md-4" href="#" style="text-align:right">BUY</a>
                                </div>*@
                        @*</div>
                    </div>

                </div>
            }
        </div>
    </div>
</div>*@