@model IEnumerable<BookThru.Models.Book>
@{
    ViewData["Title"] = "showBooks";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@{
    @Html.ActionLink("Create New", "Create")
    @Html.ActionLink("Edit", "Edit")
}
<table class="table table-striped">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>

            <th>
                @Html.DisplayNameFor(model => model.CategoryId)
            </th>

            <th>
                @Html.DisplayNameFor(model => model.CourseCodeId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>

                <td>
                    @Html.DisplayFor(modelItem => item.CategoryId)
                </td>

                <td>
                    @Html.DisplayFor(modelItem => item.CourseCodeId)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Description)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.BookId">Edit</a>|
                    @*@Html.ActionLink("Edit", "Home", new { id = item.Id}) |*@
                    <a asp-action="Delete" asp-route-id="@item.BookId">Delete</a>
                </td>

            </tr>
        }
    </tbody>
</table>


